
@{
    ViewData["Title"] = "Success";
}

<h2>Success</h2>
<p>Info about your order:</p>
<table>
    <tr>
        <td>Name: @ViewBag.Order.User</td>
    </tr>
    <tr>
        <td>Adress: @ViewBag.Order.Adress</td>
    </tr>
    <tr><td>Contact number: @ViewBag.Order.ContactPhone</td></tr>
</table>

